<div class="header-wrapper">
    <div class="float-left">
        <img src="../../assets/images/cred-logo.png" alt="Cred Logo" class="logo">
    </div>
    <div class="float-right">
        <div class="mob-menu d-md-none">Test 1</div>
        <div class="desktop-menu d-none d-md-flex align-items-center pt-1">
            <div class="item py-1 position-relative"><a>credit score check<div class="tag">free</div></a></div>
            <div class="item py-1 position-relative"><a>credit card bill payment<div class="tag">new
                    </div></a>
            </div>
            <div class="item py-1 position-relative"><a>blog</a></div>
            <div class="item py-1 position-relative"><a>we're hiring</a></div>
        </div>
    </div>
</div>